a {
  text-decoration: none;
}

img {
  width: 345px;
  height: 150px;
}

body {
  background-image: url('./image/background.jpeg');
  backdrop-filter: blur(3px);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
